@import "mymix";
//**********************************************************/
//**********************************************************/
#article {
  display: block;
  text-decoration: none;
  background-color: #150e0e;
  box-shadow: 0 0 2px 1px rgba(231, 216, 176, 1);
  color: #d0b58c;
  float: left;
  height: 360px;
  margin: 0 26px 30px 0;
  position: relative;
  text-align: center;
  width: 340px;
  z-index: 10;
}
#wrapper content{
  display: block;
  margin: 0 auto;
  position: relative;
  width: 1100px;
}
.node-products {
  background-color: #160f0f;
  box-shadow: 0 0 2px 2px rgba(231, 216, 176, 1);
  height: 750px;
  margin: 0 auto;
  position: relative;
  width: 1100px;
}
.hFooter{
  height: 60px;
}
.hide{
  display: none;
}
.delay-05s{
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}
.delay-06s{
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}
.delay-07s{
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s;
}
.delay-08s{
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
}
.delay-09s{
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  -o-animation-delay: .9s;
  animation-delay: .9s;
}
.delay-1s{
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.delay-11s{
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.delay-12s{
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.delay-13s{
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.delay-14s{
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.delay-15s{
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.delay-16s{
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.delay-17s{
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  -o-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
.delay-18s{
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.delay-19s{
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
.delay-2s{
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
.hidded{
  visibility: hidden;
}
.fadeIn, .fadeInUp, .fadeOut, .fadeOutUp, .flipInX, .flipOutX, .flipInY, .flipOutY, .zoomIn, .zoomOut, .slideInLeft, .rollIn, .rollOut, .bounce, .pulse, .tada, .bounceInDown{
  visibility: visible;
}
//**********************************************************/
//**********************************************************/
@import "galleryformatter";
@import "greenarrows";
.field-item.even p {
    text-align: justify;
    width: auto;
}
.node-page .field-item.even {
  margin: 0px;
}